extends layouts/layout

block vars
  -title = 'Homepage'
  -bodyClass = 'home'
  -mainNav = 1
  -sub1 = 1
  -sub2 = 1
  -sub3 = 0

block main
  main
    include modules/index/section-1
    include modules/index/section-2
    include modules/index/section-3
    include modules/index/section-4
    include modules/index/section-5
    include modules/index/section-6
    include modules/index/section-7
