
.main-container {
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
  @media (min-width: 576px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.relative {
  position: relative;
}

.keyframes(logoMoving, {
  from {
    .translateX(-40px);
    opacity: 0;
  }
  to {
    .translateX(0);
    opacity: 1;
  }
});

.keyframes(buttonMoving, {
  from {
    .translateX(40px);
    opacity: 0
  }
  to {
    .translateX(0);
    opacity: 1;
  }
});

//! Header
header {
  .position(fixed, 0 0 null 0);
  z-index: 11;
  .scrolled & {
    &:before {
      bottom: 0;
    }
  }
  &:before {
    content: "";
    .position(0 0 100% 0);
    background-color: rgba(255, 255, 255, 0.89);
    .transition(bottom 130ms linear);
  }
  .inner {
    position: relative;
    z-index: 2;
    .flex-display();
    .align-items(center);
    .justify-content(center);
    padding: 15px 0;
  }
  .logo {
    opacity: 0;
    .animation(logoMoving 800ms 630ms ease forwards);
    img {
      width: 165px;
    }
  }
  .btn-wrap {
    margin-left: 10px;
    opacity: 0;
    .animation(buttonMoving 800ms 630ms ease forwards);
    a {
      display: inline-block;
      padding: 12px 20px;
      color: white;
      font-size: 1.4rem;
      background-color: #6E4AB9;
      .box-shadow(0 5px 7px rgba(44,0,134,0.63));
      .border-radius(7px);
    }
  }
  @media (min-width: 768px) {
    .btn-wrap {
      margin-left: 40px;
    }
  }
}

//! Footer
footer {
  .clearfix();
  background-color: #202020;
  color: #9B9B9B;
  text-align: center;
  padding: 30px 0;
  font-family: Helvetica, sans-serif;
  .container {
    max-width: 970px;
  }
  .DMCA_Logo {
    clear: both;
  }
  .copyright {
    margin-bottom: 25px;
    font-size: 1.2rem;
  }
  .foot-nav {
    .flex-display();
    .justify-content(center);
    margin-bottom: 20px;
    li {
      padding: 0 4px;
      font-size: 1.2rem;
      line-height: 1.2;
      & + li {
        border-left: 1px solid #9B9B9B;
      }
    }
  }
  a {
    .link-color(#9B9B9B, #fff);
  }
  @media (min-width: 768px) {
    .copyright {
      float: left;
    }
    .foot-nav {
      float: right;
    }
  }
}

.keyframes(rotate2, {
  0% {
    .rotate(0deg);
  }
  25% {
    .rotate(90deg);
  }
  75% {
    .rotate(180deg);
  }
  100% {
    .rotate(360deg);
  }
});

.keyframes(rotate1, {
  0% {
    .rotate(0deg);
  }
  25% {
    .rotate(-90deg);
  }
  75% {
    .rotate(-180deg);
  }
  100% {
    .rotate(-360deg);
  }
});

.floating-image-wrap-1 {
  .floating-image {
    position: absolute;
    top: 0;
    right: calc(~"100% + 50px");
    .transition(transform 1s linear);
    // .animation(rotate1 30s linear infinite forwards);
  }
}
.floating-image-wrap-2 {
  .floating-image {
    position: absolute;
    top: 0;
    right: calc(~"100% + 50px");
    .transition(transform 1s linear);
    // .animation(rotate1 30s linear infinite forwards);
  }
}
.floating-image-wrap-3 {
  .floating-image {
    position: absolute;
    top: 0;
    left: calc(~"100% + 50px");
    .transition(transform 1s linear);
    // .animation(rotate2 30s linear infinite forwards);
  }
}
.floating-image-wrap-4 {
  .floating-image {
    position: absolute;
    top: 0;
    left: calc(~"100% + 100px");
    .transition(transform 1s linear);
    // .animation(rotate2 30s linear infinite forwards);
  }
}
