.container {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}
// Header
// Footer
footer {
  .clearfix();
  background-color: #202020;
  color: #9B9B9B;
  .DMCA_Logo {
    text-align: center;
    clear: both;
  }
  @media (min-width: 768px) {
    .copyright {
      float: left;
    }
    .foot-nav {
      float: right;
    }
  }
}
