.floating-images
  .container
    img(src="images/upload/icon-rotating-1.png").floating-image-1
    img(src="images/upload/icon-rotating-2.png").floating-image-2
    img(src="images/upload/icon-rotating-1.png").floating-image-3
    img(src="images/upload/icon-rotating-3.png").floating-image-4
