.floating-images
  .container
    img(src="images/upload/icon-rotating-1.png" width="219").floating-image-1
    img(src="images/upload/icon-rotating-2.png" width="207").floating-image-2
    img(src="images/upload/icon-rotating-1.png" width="219").floating-image-3
    img(src="images/upload/icon-rotating-3.png" width="187").floating-image-4
