<section class="section-3">
	<div class="container">
		<div class="block_3">
			<div class="w_item">
				<div class="w_thumb">
					dsfasda
				</div>
				<div class="w_content">
					sfs
				</div>
			</div>
		</div>
	</div>
</section>