<section class="section-5">
	<div class="container">
		<div class="block_5">
			<div class="w_item">
				<div class="w_content">
					<p><span styke="color:#D20000">InfinitiKloud</span> is made to be affordable for all…</p>
					<p>Struggling with managing photos, videos, and documents on our devices is extremely frustrating.</p>
					<p>The stress and frustration people feel everyday dealing with technology is overwhelming. No one wants to deal with it, and sadly, this seems to be the reality for most people.</p>
					<p>The new model comes in three different sizes:<strong>32GB, 64GB or 128GB</strong> depending on your storage needs. The entry level 32GB can store up to 25,000 photos, while the 128GB model can store over 100,000 photos.</p>
				</div>
				<div class="w_thumb">
					<img src="images/upload/img-5.png" alt="">
				</div>
			</div>

			<div class="w_item">
				<div class="w_content">
				</div>
			</div>
		</div>
	</div>
</section>