<section class="section-7">
	<div class="container">
		<div class="block_7">
			<div class="w_item">
				<div class="w_thumb">
					<img src="images/upload/img-6.jpg" alt="">
				</div>
				<div class="w_content">
					<h3><span>For a limited time, when you purchase InfinitiKloud <br class="hidden-sm-down"/> today, <strong>you’ll get one free!</strong></span></h3>
					<p><a href="https://www.infinitikloud.com/en/order-sd-g2-alt.html?iep=true&loader=1&fomo=1&Affid=4199&s1=StorieDanny&s2=&s3=&s4=2140&s5=427fbcd0873b4576bffeddf6eb60a1be&domain1=www.flrdra.com&network_id=69" class="btn-check-availability">Check availability</a></p>
				</div>
				
			</div>
		</div>
		<div class="block_8">
			<div class="w_inner">
				<div class="w_item">
					<div class="item">
						<h3>Hayley Lizotte</h3>
						<h4><img src="images/upload/5stars.png" alt=""> Easy Photo Storage</h4>
						<h5>July 2, 2020 | Verified Purchase</h5>
						<p>I never took the time to label or organize any of the photos on my computer, I couldn’t even remember where I’d put half of them. Now I’ve got ALL of them on one convenient flash drive!</p>
					</div>

					<div class="item">
						<h3>Samantha</h3>
						<h4><img src="images/upload/5stars.png" alt=""> Amazing and Easy-to-Use!</h4>
						<h5>July 4, 2020 | Verified Purchase</h5>
						<p>Works exactly like they say it does: plug it in, press start. I found over 10,000 photos and videos on my computer! I had no idea I had so many!</p>
					</div>

					<div class="item">
						<h3>Harold Grissom</h3>
						<h4><img src="images/upload/5stars.png" alt=""> Thank you!</h4>
						<h5>July 5, 2020 | Verified Purchase</h5>
						<p>Found my grandson’s graduation ohotos using this. I thought I had lost them forever! Thank you!</p>
					</div>
				</div>
				<div class="w_item">
					<div class="item">
						<h3>Kevin Pack</h3>
						<h4><img src="images/upload/5stars.png" alt=""> One click and you’re done!</h4>
						<h5>July 4, 2020 | Verified Purchase</h5>
						<p>I can’t believe how easy it is! Just plug it in and hit the start button. It does all the work for you and it only takes a couple minutes!</p>
					</div>

					<div class="item">
						<h3>Janet White</h3>
						<h4><img src="images/upload/5stars.png" alt=""> It’s perfect for me</h4>
						<h5>July 5, 2020 | Verified Purchase</h5>
						<p>I bring it with me every time I go to visit my daughter so I can get the latest pictures of my grandkids. It makes sharing photos so easy!!</p>
					</div>

					<div class="item">
						<h3>Gary M.</h3>
						<h4><img src="images/upload/5stars.png" alt=""> Thank you!</h4>
						<h5>July 5, 2020 | Verified Purchase</h5>
						<p>Faster, easier, and cheaper than using a cloud backup. This is hands down the best way to keep your photos safe and organized.</p>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>