<section class="section-3">
	<div class="container">
		<div class="block_3">
			<div class="w_item">
				<div class="w_thumb">
					<img src="images/upload/what-is-infinitikloud.png" alt="">
				</div>
				<div class="w_content">
					<p><strong>InfinitiKloud</strong> is revolutionary hardware combined with super powerful software that connects to your devices by wifi or direct cable that organizes and stores photos, videos and important documents.</p>
				</div>
			</div>
		</div>
	</div>
</section>