<section class="section-1">
  <div class="container">
    <div class="block_1">
      <div class="w_item">
        <div class="thumb-wrap">
          <div class="w_thumb">
            <img src="images/upload/main-banner-product.png" alt="">
          </div>
        </div>
        <div class="w_content">
          <span class="btn_switch"><span></span></span>
          <h1>Innovative Device Backs Up <br class="hidden-sm-down"/>All Your Devices In One-Click</h1>
          <p class="btn_wrap">
            <a href="" class="btn">Learn more</a>
            <a href="" class="btn-check-availability">Check Availability</a>
          </p>
          <p class="arrow">
            <img src="images/upload/arrow.gif" alt="">
          </p>
          <p class="get_one_fee"><a href="https://www.infinitikloud.com/en/order-sd-g2-alt.html?iep=true&loader=1&fomo=1&Affid=4199&s1=StorieDanny&s2=&s3=&s4=2140&s5=fe92f26ded204b4389d8f73a94f94d41&domain1=www.flrdra.com&network_id=69" title="Get one free today">Get one free today</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
