<section class="section-2">
    <div class="container">
        <div class="block_2">
            <div class="w_item item-1">
                <h2 class="w_title">Here’s How I Saved All The Missing Stuff On My Phone!</h2>
                <div class="w_content">
                    <p><strong>I THOUGHT EVERYTHING ON MY PHONE AND COMPUTER WAS 100% SAFE</strong></p>

                    <p>When we walk around with our iPhones and Android phones, or we use our laptops, we keep a LOT of personal stuff on them all the time.</p>

                    <p>We use our phones to buy things with like Apple Pay. We have passwords for our Amazon accounts stored in our browsers. We have apps on our phones that access our bank accounts. Some people even have apps for their stock market accounts!</p>

                    <p><strong>But it’s not only about money. We store an incredible amount of information on our devices.</strong> We have super personal photo, tweets and emails. We may have certain <strong>“private”</strong> stuff for our lovers that we would NEVER want anyone to see.</p>

                    <p>Family photos, precious images of people who have passed on that we cannot replace, almost anything you can imagine is on our devices.</p>

                    <p><img src="images/upload/img-1.jpg" alt=""></p>

                    <p><strong>BUT NOW YOU CAN KEEP EVERYTHING BACKED UP NO MATTER WHAT!</strong></p>
                    <p>Launch the super-easy-to-use app, and watch EVERYTHING securely transfer to a safe place.</p>
                    <ul>
                        <li>Transfer to your <strong><span style="color:#D20000">InfinitiKloud</span></strong> built-in memory</li>
                        <li><strong>EXPAND your backup memory</strong> by popping in a Micro-SD card for unlimited storage! And keep <span>AS MANY SD CARD COPIES AS YOU WANT!</span></li>
                        <li>The app transfers, encrypts (for total privacy and access only for you) to IK device, SD card or another device!</li>
                        <li>Only you and those who you have granted access can see your files.</li>
                        <li>Medical files, passports, deeds, vital documents, business invoices, personal photos, priceless memories. They are <strong>ALL YOURS</strong>. Not controlled by some big tech company than can (and often is) hacked or stolen!</li>
                        <li><strong>EVERYBODY</strong> needs their digital life preserved. <strong><span style="color:#D20000">InfinitiKloud</span></strong> is a life saver.</li>
                    </ul>

                    <p>We’ve all seen in the last few months how everything we thought was permanent and safe could be destroyed in an instant. Don’t let disaster happen to you. </p>
                    <p><strong><span style="color:#D20000">INFINTIKLOUD</span> IS LIKE A DIGITAL BANK VAULT THAT YOU OWN AND CAN TAKE WITH YOU!</strong></p>
                </div>
            </div>
        

            <div class="w_item item-2">
                <h2 class="w_title"><span style="color: #829099;">I  know  firsthand  how  it  feels to  lose  precious  memories,</span></h2>
                <div class="w_content">
                    <p>After my grandson’s graduation from school, <strong>I tried to find the photo I took of him on that special day.</strong> This photo was perfect! All I wanted was to print it off and get it framed in our living area.</p>

                    <p>But when I went to look for it, everything was gone. My heart stopped as my mobile phone crashed and a system error appeared in front of me...what was the point of taking all these photos, just to have them all taken away from me!</p>

                    <p>I called up Michael, our family friend technician to come over and take a look. Unfortunately, he said that nothing could be done to restore all my files and he had to factory reset the entire phone. He then told me <strong>how important it is to regularly backup your data and told me it could be done in the click of a button with <span style="color:#D20000">InfinitiKloud</span>'.</strong> Most people happily back up their computers, but overlook backing up their mobile devices and tablets.</p>

                    <p>I am not tech-savvy so this sounded like a great idea to me. It looks exactly like one of those USB sticks I’ve used a couple of times on my computer. </p>

                    <p>But it uses very special technology that automatically hunts through everything on your cell phone. It finds every personal photo and video and then places them all in organized folders on the Stick.</p>

                    <p>So, I decided to give it a try on my wife's mobile phone.</p>

                    <p>As soon as I plugged it into her phone a window opened. There’s a big red button labeled “<strong>Start</strong>” — I just clicked that and the process began. It took a few minutes — <strong>about 3 minutes total… but I didn’t need to do anything,</strong> it was fun watching it go through all the files.</p>
                </div>

            </div>

            <div class="w_item item-3">
                <h2 class="w_title text-center"><span style="color: #00A5FF;">After it was completed, she saw every photo, video and document she had ever saved was on the Stick.</span></h2>
                <div class="w_content">
                    <p>I clicked on the folders, and everything was really well organized, no more duplicates either.</p>
                    <p>I wish I had known about this earlier!</p>
                    <p>My wife and I ended up purchasing one each and have made the commitment to regularly backup our devices. I never want to lose all my precious memories again. Luckily it also backs up our computers and tablets too!</p>
                    <p>I’m so happy that this little device will always be there to quickly gather all my photos, videos, and documents, no matter where I saved them. </p>
                </div>

            </div>
        </div>
    </div>
</section>