<section class="section-3">
	
	<div class="container">
		<div class="block_3">
			<div class="w_item">
				<div class="w_thumb">
					<img src="images/upload/what-is-infinitikloud.png" alt="">
				</div>
				<div class="w_content">
					<p><strong>InfinitiKloud</strong> is revolutionary hardware combined with super powerful software that connects to your devices by wifi or direct cable that organizes and stores photos, videos and important documents.</p>
				</div>
			</div>
		</div>

		<div class="how_it_work">
			<div class="w_title">HOW DOES IT <br/>WORK?</div>
			<div class="w_content">
				<div class="w_steps">
					<div class="item"><img src="images/upload/step-1.png" alt=""></div>
					<div class="item line"><img src="images/upload/line.png" alt=""></div>
					<div class="item "><img src="images/upload/step-2.png" alt=""></div>
					<div class="item line"><img src="images/upload/line.png" alt=""></div>
					<div class="item"><img src="images/upload/step-3.png" alt=""></div>
				</div>

				<div class="w_desc">
					<p>Simply plug the <strong><span style="color:#D20000">InfinitiKloud</span></strong> into your mobile phone, tablet or computer and it will automatically start.</p>

					<p>At this point just click the big red “ Start” button. <strong><span style="color:#D20000">InfinitiKloud</span></strong> will scan your entire device and save every single photo, video and document.</p>

					<p>If you have multiple devices, just repeat the same process on each one. It works with all <strong>Window PCs, Mac computers, iPhones, Android Phones, iPad and Tablets.</strong></p>
				</div>
			</div>
		</div>
	</div>
</section>