<section class="section-5">
	<div class="container">
		<div class="block_5">
			<div class="w_item">
				<div class="w_content">
					<p><strong><span style="color:#D20000">InfinitiKloud</span></strong> is made to be affordable for all…</p>
					<p>Struggling with managing photos, videos, and documents on our devices is extremely frustrating.</p>
					<p>The stress and frustration people feel everyday dealing with technology is overwhelming. No one wants to deal with it, and sadly, this seems to be the reality for most people.</p>
					<p>The new model comes in three different sizes:<strong>32GB, 64GB or 128GB</strong> depending on your storage needs. The entry level 32GB can store up to 25,000 photos, while the 128GB model can store over 100,000 photos.</p>
				</div>
				<div class="w_thumb">
					<img src="images/upload/img-5.png" alt="">
				</div>
			</div>

			<div class="w_item">
				<div class="w_content">
					<p><strong>Infinitely Expandable, Removeable Memory Is Now Possible With Our Archival-Quality, Micro SD Cards!</strong></p>
					<ul>
						<li><img src="images/upload/icon-red-mark.png" alt="">You can expand the memory available.</li>
						<li><img src="images/upload/icon-red-mark.png" alt="">You can use SD card to archive your backup and store it in multiple places. For example, backup your encrypted files and save one SD card in your house. Keep another one at the house of a relative, or keep it in a back safe deposit box.</li>
						<li><img src="images/upload/icon-red-mark.png" alt="">Because your backup is encrypted and stored off-site, you ALWAYS have a copy of your important files no matter what happens. If there is a fire, a flood, or an accident, <strong>YOU ARE COVERED.</strong></li>
						<li><img src="images/upload/icon-red-mark.png" alt="">SD card storage means you have <strong>UNLIMITED BACKUP MEMORY</strong> and the freedom to keep a physical card with your data anywhere you want!</li>
						<li><img src="images/upload/icon-red-mark.png" alt="">Micro SD cards just pop in and out. Super easy to use!</li>
						<li><img src="images/upload/icon-red-mark.png" alt="">Not only can you backup and transfer data to an SD card, but you can transfer data from device to device. For example, store a complete copy of your SmartPhone data on your laptop.</li>

					</ul>
				</div>
			</div>
		</div>
	</div>
</section>