<div class="block_1">
	<div class="w_item">
		<div class="w_thumb">
			<img src="images/upload/main-banner-product.png" alt="">
		</div>
		<div class="w_content">
			<h1>Innovative Device Backs Up All Your Devices In One-Click</h1>
			<p class="btn_wrap">
				<a href="" class="btn">Learn more</a>
				<a href="" class="btn">Check Availability</a>
			</p>
			<p class="arrow">
				<img src="images/upload/arrow.png" alt="">
			</p>

			<p class="get_one_fee">Get one free today</p>
		</div>
	</div>
</div>