footer
  p.copyright Copyright ©2020 InfinitiKloud | All Rights Reserved.
  ul.foot-nav
    li: +link('Terms & Conditions', 'terms.html')
    li: +link('Privacy Policy', 'policy.html')
    li: +link('Contact Us', 'contact-us.html')
